<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->

  <head>
    <% include ../partial/head %>
  </head>

  <body>
    <!-- Left Panel -->

    <% include ../partial/left-panel %>
    <!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">
      <!-- Header-->
      <% include ../partial/header %>
      <!-- /header -->
      <!-- Header-->

      <div class="breadcrumbs">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1>Dashboard</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li class="active">Dashboard</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="content mt-3">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header">
                <strong class="card-title mb-3">User Detail</strong>
              </div>
              <div class="card-body">
                <div class="mx-auto d-block">
                  <img
                    class="rounded-circle mx-auto d-block"
                    src="<%= user.imgUrl %>"
                    width="100"
                    height="100"
                    alt="Card image cap"
                  />
                  <h5 class="text-sm-center mt-2 mb-1"><%= user.name %></h5>
                  <div class="location text-sm-center">
                    <i class="fa fa-map-marker"></i> <%= user.email %>
                  </div>
                </div>
                <hr />
                <div class="card-text text-sm-center">
                  <a
                    href="/users/userupdate/<%= user._id %>"
                    class="btn btn-warning"
                    >Update</a
                  >
                  <button onclick="del();" class="btn btn-danger">
                    Delete
                  </button>
                  <!-- <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                  <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                  <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                  <a href="#"><i class="fa fa-pinterest pr-1"></i></a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .content -->
    </div>
    <!-- /#right-panel -->

    <!-- Right Panel -->

    <% include ../partial/script %>
  </body>
  <script>
    function del() {
      var opt = confirm("Are you sure for delete!!");
      if (opt) {
        location.href = "/users/userdelete/<%= user._id %>";
      }
    }
  </script>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Detail</title>
  </head>
  <body>
    <h1>User Detail</h1>
    Name : <%= user.name %>
    <p></p>
    Email : <%= user.email %>
    <p></p>
    Password : <%= user.password %>
    <p></p>
    <a href="/users/userupdate/<%= user._id %>"><button>Update</button></a>
    <button onclick="del();">Delete</button>
  </body>
  
</html> -->
